# ===== Core Backend =====
fastapi
uvicorn
python-dotenv
pydantic

# ===== Database =====
pymongo

# ===== AI / LLM =====
google-genai
tiktoken
google-generativeai>=0.4.1


# ===== Embedding & Vector Search =====
numpy

# ===== PDF Import =====
pypdf

# ===== YouTube Import =====
pytube
youtube-transcript-api

# ===== Optional (Future extension) =====
requests
